:root {
  --WHITE: #ffffff;
  --GRAY-200: #f9f9f9;
  --GRAY-300: #bfbfbf;
  --GRAY-400: #9b9b9b;
  --GRAY-500: #777676;
  --GRAY-600: #1a1a1a;
  --BLACK: #0b0a0a;

  --NAVY-1: #1d0263;
  --NAVY-2: #2b0792;
  --NAVY-3: #3608c0;
  --NAVY-4: #3f2ceb;
  --NAVY-5: #4a58f6;

  --PINK-1: #ce04a1;
  --PINK-2: #e935b8;
  --PINK-3: #f74dc1;
  --PINK-4: #ff67c3;
  --PINK-5: #ff93d1;

  --PURPLE-1: #340c8f;
  --PURPLE-2: #4909b3;
  --PURPLE-3: #651cce;
  --PURPLE-4: #7b34e1;
  --PURPLE-5: #8d47e5;

  --ORANGE: #e8553e;
}

* {
  box-sizing: border-box;
}
body {
  background-color: var(--BLACK);
  color: white;
  padding: 0;
  margin: 0;
  display: flex;
  font-family: "DM Sans", sans-serif;
}
button {
  all: unset;
}
a {
  all: unset;
}
a {
  cursor: pointer;
  display: block;
  width: fit-content;
}
ul {
  all: unset;
}
li {
  all: unset;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0;
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  word-wrap: break-word;
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

/* Sub-Headers */
.sh1,
.sh2,
.sh3,
.sh4,
.sh5 {
  font-weight: 700;
  word-wrap: break-word;
  line-height: 120%;
}
.sh1 {
  font-size: 36px;
}
.sh2 {
  font-size: 32px;
}
.sh3 {
  font-size: 24px;
}
.sh4 {
  font-size: 20px;
}
.sh5 {
  font-size: 16px;
}

/* Body */
.b1,
.b2,
.b3,
.b4,
.b5 {
  font-weight: 400;
  word-wrap: break-word;
}
.b1 {
  font-size: 24px;
  line-height: 36px;
}
.b2 {
  font-size: 20px;
  line-height: 30px;
}
.b3 {
  font-size: 16px;
  line-height: 24px;
}
.b4 {
  font-size: 14px;
  line-height: 21px;
}
.b5 {
  font-size: 12px;
  line-height: 18px;
}

/* Navigation Bar */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 256px;
  max-width: 256px;
  height: 100vh;
  padding-top: 32px;
  left: 0;
  background-color: var(--GRAY-600);
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  max-width: 194px;
  position: fixed;
  gap: 16px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 14px;
  padding-right: 91px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 20px;
}

/* Bottom Bar and Audio Player */
.player {
  display: flex;
  width: 100vw;
  height: 110px;
  position: fixed;
  bottom: 0;
  background-color: var(--GRAY-600);
}

.podcast-details {
  display: flex;
  gap: 20px;
  align-items: center;
}


.podcast-info {
  display: flex;
  gap: 1px;
  flex-direction: column;
  color: var(--WHITE);
  max-width: 204px;
  overflow: hidden;
}

.podcast-info .sh4 {
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: clipped; 
}

.podcast-info .sh5 {
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: clipped; 
  opacity: 30%; 
}

.player {
  display: flex;
}

.player .audio-player {
  display: flex;
  margin-left: 92px;
  align-items: center;
  gap: 50px;
  margin-top: 0px;
  padding: 0px;
}

.audio-controller {
  display: flex;
  gap: 30px;
  align-items: center;
}

/* Master Player */
.hide-player {
  display: none;
}

.button-player {
  display: flex;
  justify-content: center;
}

.play-button, .pause-button {
  cursor: pointer;
}

.pause-button {
  display: none;
}

.play-button:hover, .pause-button:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

.audio-player{
  display: none;
}

/* Progress Control */
.progress-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.progress-bar {
  width: 30vw;
  background-color:var(--GRAY-500);
  height: 5px;
  border-radius: 10px;
}

.progress-bar::-webkit-slider-thumb {
  cursor: pointer;
  border-radius: 99px;
  background-color: var(--PINK-1); /* Blue color with 100% opacity */
  height: 14px; 
  width: 14px; 
}