/* General Styles */
input,
textarea {
  color: var(--WHITE);
  font-family: inherit;
  font-style: inherit;
  border: none;
  outline: none;
}
input:focus,
textarea:focus {
  outline-style: solid;
  outline-color: var(--PINK-1);
}
::placeholder {
  color: var(--GRAY-300);
}
.hidden {
  display: none !important;
}

/* Main Form */
#input-form {
  width: 60vw;
  background-color: var(--GRAY-600);
  border-radius: 20px;
  border: 1px var(--PINK-1) solid;
}
#input-form > div:first-child {
  padding: 64px 64px 32px;
}
#input-form #audio-input-btn {
  border-radius: 12px;
  border: 1px var(--PINK-1) solid;
  color: var(--PINK-1);
  width: 100%;
  text-align: center;
  padding: 17px 0 16px;
  cursor: pointer;
  margin-top: 32px;
}

.file-name-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}
.file-name-container > div {
  padding: 17px 24px 16px;
  border-radius: 12px;
  background-color: var(--GRAY-500);
}

#cancel-file-btn {
  width: 57px;
  height: 57px;
  background-color: var(--ORANGE);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cancel-file-btn > img {
  width: 25px;
  height: auto;
  aspect-ratio: 1/1;
}

#judul-input,
#description-input {
  background-color: var(--GRAY-500);
  width: 100%;
  padding: 17px 24px 16px;
  border-radius: 12px;
  margin-top: 32px;
}
#judul-input:focus,
#description-input:focus {
  outline-color: var(--PINK-1);
}
#judul-input + p,
#description-input + p {
  margin-left: 24px;
  margin-top: 8px;
  font-size: 10px;
  color: var(--PINK-1);
}

#description-input {
  height: 171px;
  resize: none;
}

#input-form > div > .sh3 {
  margin-top: 25px;
}
#input-form > div > .sh3 + div {
  display: flex;
  align-items: center;
  gap: 48px;
  margin-top: 24px;
}

#cover-image {
  width: 13.88vw;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
}

#change-cover-btn {
  text-align: center;
  border-radius: 24px;
  border: 2px var(--PINK-1) solid;
  padding: 18px 48px 16px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--GRAY-400);
}

#input-form > div:last-child {
  padding: 24px 64px;
  display: flex;
  justify-content: flex-end;
}

#save-btn {
  background-color: var(--PINK-1);
  border-radius: 24px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 14px 24px 13px;
}
#save-btn > p {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}
