.podcast-card {
  width: 100%;
  padding: 40px 28px 38px 36px;
  border-radius: 8px;
  background: linear-gradient(
    180deg,
    var(--PINK-1) 0%,
    rgba(206, 4, 161, 0) 100%
  );
  border: 1px var(--PINK-1) solid;
}
.podcast-card .button-container {
  display: flex;
  gap: 32px;
  margin-top: 48px;
}
.podcast-card .button-container .edit-button {
  padding: 17px 24px;
  border: 2px var(--PINK-1) solid;
  border-radius: 32px;
  display: flex;
  gap: 16px;
}
.podcast-card .button-container .edit-button img {
  width: 16px;
  height: auto;
  aspect-ratio: 1/1;
}
.podcast-card .button-container .edit-button p {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.podcast-card .library-container {
  position: relative;
  text-transform: capitalize;
  width: fit-content;
}
.podcast-card #add-library-btn {
  background-color: var(--PINK-1);
  border-radius: 24px;
  padding: 18px 24px 16px;
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
.podcast-card #add-library-btn p {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.podcast-card #add-library-btn img {
  width: 16px;
  height: auto;
  aspect-ratio: 1/1;
}
.podcast-card #library-choices {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(calc(100% + 8px));
  background-color: var(--BLACK);
  border: 1px var(--PINK-1) solid;
  padding: 4px 0;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  z-index: 110;
  box-shadow: 2px 2px 10px 0 var(--BLACK), -2px -2px 10px 0 var(--BLACK);
  width: max-content;
}
.podcast-card #library-choices > li {
  padding: 12px 24px;
  border-bottom: 1px var(--PINK-1) solid;
  cursor: pointer;
}
.podcast-card #library-choices > li > p {
  width: auto;
}
.podcast-card #library-choices > li:last-child {
  border-bottom: none;
}

.card-header-container {
  display: flex;
  gap: 32px;
  align-items: flex-start;
}

.podcast-thumbnail-img {
  width: 200px;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
}

.podcast-category {
  background-color: var(--GRAY-600);
  border-radius: 24px;
  padding: 10px 12px 8px;
  width: fit-content;
  height: fit-content;
}
.podcast-category p {
  font-size: 10px;
  font-weight: 700;
}

.podcast-description > h3 {
  margin-top: 20px;
}
.podcast-description > p {
  margin-top: 24px;
}

.episode-list {
  display: block;
  padding: 0 0 174px;
  width: 100%;
  box-sizing: border-box;
}
.episode-list > div {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.episode-list {
  margin-top: 32px;
  display: block;
}
.episode-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 32px;
  border-bottom: 1px var(--GRAY-500) solid;
}
.episode-list li:first-child {
  border-top: 1px var(--GRAY-500) solid;
}
.episode-list li > div:first-child {
  display: flex;
  align-items: center;
}
.episode-list li > div:first-child .episode-number {
  font-size: 24px;
  font-weight: 700;
  width: 25px;
}
.episode-list li > div:first-child > img {
  width: 75px;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 8px;
  margin-left: 32px;
  margin-right: 24px;
  object-fit: cover;
  object-position: center;
}

.episode-list ul li > div:last-child {
  display: flex;
  align-items: center;
  gap: 32px;
}
.episode-list ul li > div:last-child div {
  display: flex;
  align-items: center;
  gap: 16px;
}
.episode-list ul li > div:last-child > a > div:first-child img {
  width: 16px;
  height: auto;
  aspect-ratio: 1/1;
}
.episode-list ul li > div:last-child > a > div:first-child > p {
  font-size: 16px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .podcast-thumbnail-img {
    margin-left: auto;
    margin-right: auto;
  }

  .card-header-container {
    flex-direction: column;
  }

  .podcast-card {
    width: 100%;
  }
}
