.comedy-content {
    display: flex;
    flex-direction: column;
    padding: 100px 100px;
}

.home-podcast-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}