navbar {
    position: fixed;
    display: flex;
    gap: 24px;
    margin-left: 256px;
    background-color: var(--BLACK);
    top: 0;
    width: 100%; 
    height: 78px;
    align-items: center;
}

.playlist-container {
    width: 100%;
    display: flex;
    margin-top: 150px;
    justify-content: center;
    justify-self: auto;
}

.user-playlist {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    gap: 20px;
}

.playlist {
    display: flex;
    width: 166px;
    height: 100%;
    flex-direction: column;
    border-radius: 8px;
    padding: 8px;
    background-color: var(--GRAY-600);
    gap: 16px;
}


.playlist .thumbnail {
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    width: 80px;
    height: 80px;
}

.playlist .info {
    white-space: nowrap; 
    padding: 0 5px;
    margin-bottom: 10px;
    width: 145px;
}

.playlist .info .sh5 {
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrapper {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 999; To ensure it covers the playlist section */
    background: var(--GRAY-600);
    color: var(--WHITE);
    padding: 30px;
    border-radius: 10px;
}

.wrapper h2{
    font-size: 28px;
    text-align: center;
    text-transform: none;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 40px;
    margin: 40px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: var(--GRAY-500);
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .4);
    border-radius: 40px;
    font-size: 16px;
    color: var(--WHITE);
    padding: 20px 45px 20px 20px;
}


.input-box input::placeholder{
    color: var(--WHITE);
}


.new-playlist-btn{
    margin-top: 30px;
    margin-left: 30px;
    width: 200px;
    height: 45px;
    background: rgba(206, 4, 161, 0.79);
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: var(--WHITE);
    font-weight: 600;
    text-align: center;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: rgba(206, 4, 161, 0.79);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: var(--WHITE);
    font-weight: 600;
    text-align: center;
}

.bx-trash{
    display: flex;
    align-self: center;
    color:  var(--GRAY-500);
    font-size: 20px;
    margin-top: -10px;
    cursor: pointer;
    border: 0.5px solid var(--GRAY-500);
    padding: 2px;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .user-playlist {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .playlist .thumbnail {
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
        width: 150px;
        height: 150px;
    }
}

@media (min-width: 1024px) {
    .user-playlist {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}
@media (min-width: 1280px) {
    .user-playlist {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}
@media (min-width: 1440px) {
    .user-playlist {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}
@media (min-width: 1536px) {
    .user-playlist {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}

#popup.active{
    visibility: visible;
    transition: 0.5s;
}

#blur.active{
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
}